.nav-container {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    border-radius: 10px;
}

.navbar {
    background: linear-gradient(gold, rgb(58, 204, 230));
    color: rgb(255, 72, 0);

    top: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.content {
    max-width: 1100px;
    margin: 0 auto;
}

* {
    margin: 0;
    padding: 0;
}

.unoder-list ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.unoder-list ul a {
    text-decoration: none;
    color: rgb(245, 71, 28);
}

.tilte {
    margin-top: 20px;
}

.top {
    width: 110%;
}

.tilte .top {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 10px;
}

.tilte .bottom img {
    width: 100%;
}

.tilte .top button {
    background-color: #FF900E;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.top h1 {
    font-weight: bold;
    font-size: 60px;
}

.top p {
    font-weight: 400;
    color: rgb(173, 172, 172);
}

.bottom img {
    margin-top: 30px;
}

.Feature-content {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.img-container img {
    width: 100%;
}

.right {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    align-items: left;
    padding-left: 50px;
    gap: 15px;
}

.right div button {
    background-color: #FF900E;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.right p {
    color: #727272;
}

.color {
    color: #FF900E;
}

.color-2 {
    font-weight: 200;
    color: rgb(168, 168, 168);
}

.descripts-title {
    margin-top: 70px;

}

.left-title {
    display: flex;
    justify-content: space-between;
    margin: px;
    gap: 50px;
}

.right-title {
    position: relative;

}

.right-title img {
    width: 100%;
}

.left-content div {
    box-shadow: 0 10px 20px rgba(99, 98, 98, 0.15);
    padding: 20px;
    border: 1px solid rgb(219, 216, 216);
    border-radius: 10px;
}

.left-content {
    margin-top: 30px;
    display: flex;
    padding: 20px;
    flex-direction: column;
    gap: 10px;
}

.position {
    position: absolute;
    top: 500px;
    right: 300px;
    width: 100px;
    background-color: #FF900E;
    padding: 20px;
    border-radius: 8px;

}

.position h1 {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: white;
}

.position p {
    text-align: center;
    color: white;
}

.description h1 {
    font-weight: bold;
    font-size: 50px;
}

.description p {
    color: gray;
}

.some-container {
    margin-top: 70px;
}

.some-title {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    gap: 20px;

}

.some-title div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #FF900E;
    padding: 20px;
    margin: 20px;
    gap: 10px;
    border-radius: 10px;
}

.footer-container {
    background-color: antiquewhite;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 50px;
    border-radius: 20px;
}